 /* ==========================================================================
   BASE
   ========================================================================== */
body {
	background: url('../img/layout_main-background.png') repeat;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo Narrow', sans-serif;
}
h1.inline, h2.inline, h3.inline, h4.inline, h5.inline, h6.inline {
	display: inline-block;
}

/* ==========================================================================
   LINK STYLES
   ========================================================================== */
a {
	text-decoration: none;
}
a:hover {

}
a:visited {

}

/* ==========================================================================
   SEMANTIC CLASSES
   ========================================================================== */
.strong {
	font-weight: bold;
}

.large {
	font-size: 2em;
}
.xlarge {
	font-size: 4em;
}
.xxlarge {
	font-size: 8em;
}

.centered-text {
	text-align: center;
}

.centered-block {
	display: block;
	margin: 0 auto;
}
.centered-block>div {
	margin: 0 auto;
}

/* SEMANTIC MARGINS */
.buffer {
	margin: 20px 0 20px 0;
}
.buffer2x {
	margin: 40px 0 40px 0;
}

/* CIRCULAR HEADERS */
h1.circular, h2.circular {
	display: inline-block;
	padding: 60px 30px 0 40px;
	height: 100px;
	background-color: gray;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	color: white;
}

.rotate-neg5 {
	transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

ul.collapse-list li {
	display: inline-block;
}


/* ==========================================================================
   Button Styling
   ========================================================================== */
.btn-go {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #44c783;
	*background-color: #38a66d;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44c783), to(#3eb577));
	background-image: -webkit-linear-gradient(top, #44c783, #3eb577);
	background-image: -o-linear-gradient(top, #44c783, #3eb577);
	background-image: linear-gradient(to bottom, #44c783, #3eb577);
	background-image: -moz-linear-gradient(top, #44c783, #3eb577);
	background-repeat: repeat-x;
	border-color: #3eb577 #3eb577 #38a66d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#44c783', endColorstr='#3eb577', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-go:hover,
.btn-go:active,
.btn-go.active,
.btn-go.disabled,
.btn-go[disabled] {
  color: #ffffff;
  background-color: #3eb577;
  *background-color: #3eb577;
}

/* NAV BUTTONS */
.nav-button {
	position: relative;
	padding: 10px 0 0 40px;
	height: 63px;
	width: 93%;
}
.nav-button a {
	position: relative;
	top: 20px;
	color: white;
	font-family: 'Scada', sans-serif;
	font-size: 3em;
}
.nav-button a:hover {
	text-decoration: none;
}
.nav-button.contact {
	background: #ff3177 url('../img/layout_main-body-nav-button-overlay.png') repeat-x left top;
}
.nav-button.about {
	background: #f7ab6a url('../img/layout_main-body-nav-button-overlay.png') repeat-x left top;
}
.nav-button.work {
	background: #44e497 url('../img/layout_main-body-nav-button-overlay.png') repeat-x left top;
}
.nav-button.blog {
	background: #7dc4ed url('../img/layout_main-body-nav-button-overlay.png') repeat-x left top;
}

/* ==========================================================================
   COMMON PAGE STYLING
   ========================================================================== */
/* TOPBAR */
#topbar {
	margin: 0;
	padding: 0;
	height: 40px;
	width: 100%;
	background-color: black;
	color: white;
	font-size: .8em;
	text-transform: uppercase;
}
#topbar ul li {
	margin-top: 10px;
	margin-left: 20px; 
}
#topbar ul li a {
	color: white;
	text-decoration: none;
}
#topbar ul li a:hover {
	color: white;
	border-bottom: 1px dotted white;
}
#topbar:after {
	content: " ";
	clear: both;
}

/* FOOTER */
.footer {
	padding-top: 20px;
	height: 140px;
	background-color: #585858;
	color: white;
}
.footer a, .footer a:hover {
	color: white;
}
.footer a {
	border-bottom: 1px dotted white;
}
.footer a:hover {
	text-decoration: none;
	border-bottom: none;
}
.footer #seal {
	font-size: .8em;
	font-style: italic;
}


/* ==========================================================================
   INDEX
   ========================================================================== */
/* HEADER */
#index header, header .logo {
	height: 80px;
}
#index header .divider {
	width: 100%;
	height: 17px;
	background: url('../img/layout_main-header-border-btm.png') repeat-x left bottom;
}

/* BODY CONTENT */
#index #body-content #slider {
	background-color: #f2f2f2;
	height: 347px;
}

/* BODY NAV */
 #body-nav .arrow {
 	position: relative;
 	top: -50px;
 	margin-bottom: -40px;
	margin-left: 100px;
	height: 95px;
	width: 127px;
	background: url('../img/layout_main-nav-arrow.png') no-repeat left top;
}

/* HERO */
#index #hero {
	margin-bottom: 20px;
}
#index #hero h1 {
	line-height: 1.2em;
	font-weight: normal;
	font-size: 2em;
}
#index #hero .btn {
	width: 100%;
	max-width: 300px;
}
#index #hero .btn a {
	color: white;
	text-decoration: none;
}
#index #hero .btn a:hover {
	text-decoration: none;
}
#index #hero .circular {
	margin-top: -3px;
	padding-top: 50px;
	background: #44c783 url('../img/layout_main-textured-background.png') repeat;
	font-size: 3em;
}
#index #hero .title {
	margin-left: 10px;
}

/* CONTACT FORM */
#index #contact-me {
	margin: 40px 0 40px 0;
	padding-top: 50px;
	height: 460px;
	background: url('../img/layout_main-contact-me-background.png') no-repeat;
}
#index #contact-me:hover {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

#index #contact-me h2, #index #contact-me h3 {
	text-shadow: 1px 1px black;
	color: white;
}
#index #contact-me input[type='text'], input[type='email'] {
	width: 60%
}
#index #contact-me textarea {
	width: 60%;
}
#index #contact-me .submit {
	width: 63%;
}


/* MQ: SCREEN SIZE: 1140PX */
@media screen and (max-width: 1140px) {
	#index #contact-me {
		padding-left: 60px;
	}
	#index #contact-me input[type='text'], input[type='email'] {
		width: 60%
	}
	#index #contact-me textarea {
		width: 60%;
	}
	#index #contact-me .submit {
		width: 63%;
	}
}

/* MQ: SCREEN SIZE: 767PX */
@media screen and (max-width: 767px) {
/* ==========================================================================
   INDEX
   ========================================================================== */
   /* HERO */
	#index #hero {
		text-align: center;
	}
	#hero .circular {
		width: 80%;
		margin: 0 auto;
	}

	/* BODY NAV */
	#index #body-nav .arrow {
		opacity: 0;
	}

	/* CONTACT FORM */
	#index #contact-me {
		background: #e7c882;
		padding-left: 20px;
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	#index #contact-me .info, #index #contact-me .message {
		width: 100%;
	}
	#index #contact-me input[type='text'], input[type='email'] {
		width: 90%
	}
	#index #contact-me textarea {
		width: 90%;
	}
	#index #contact-me .submit {
		width: 93%;	
	}
}