

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Style links */
a {
	text-decoration: none;
}

a:hover {

}

a:visited {

}

/* Additional primitive styles */
.strong {
	font-weight: bold;
}
.centered-text {
	text-align: center;
}
.rotate-neg10 {
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
}


/* Page-specific styles */
.contact-button {
	background-color: #ff3177;
}
.about-button {
	background-color: #f7ab6a;
}
.work-button {
	background-color: #44e497;
}
.blog-button {
	background-color: #7dc4ed;
}
.contact-button, .about-button, .work-button, .blog-button {
	margin: 0;
	padding: 0;
	height: 72px;
	width: 280px;
}


#contact-me {

}

#body-content #slider {
	background-color: #f2f2f2;
}




