

/* ==========================================================================
   Theme's custom styles
   ========================================================================== */

/* Style links */
a {
	text-decoration: none;
}

a:hover {

}

a:visited {

}

body {

}

h1, h2 {
	font-family: 'Archivo Narrow', sans-serif;
}
h1.inline, h2.inline, h3.inline, h4.inline, h5.inline, h6.inline {
	display: inline-block;
}

/* Additional primitive styles */
.strong {
	font-weight: bold;
}
.centered-text {
	text-align: center;
}
.rotate-neg5 {
	transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}
ul.collapse-list li {
	display: inline-block;
}
.clear:after {
	content: " ";
	clear: both;
}

/* Button Styles */
.contact-button {
	background-color: #ff3177;
}
.about-button {
	background-color: #f7ab6a;
}
.work-button {
	background-color: #44e497;
}
.blog-button {
	background-color: #7dc4ed;
}
.contact-button, .about-button, .work-button, .blog-button {
	margin: 0;
	padding: 10px 0 10px 20px;
	height: 72px;
	width: 100%;
}

/* Topbar Styling */
#topbar {
	margin: 0;
	padding: 0;
	height: 40px;
	width: 100%;
	background-color: black;
	color: white;
}
#topbar ul li {
	margin-top: 10px;
	margin-left: 20px; 
}
#topbar ul li a {
	color: white;
	text-decoration: none;
}
#topbar ul li a:hover {
	color: white;
	border-bottom: 1px dotted white;
}
#topbar:after {
	content: " ";
	clear: both;
}

#btmbar {
	margin: 0;
	padding: 20px 0 20px 0;
	height: 140px;
	width: 100%;
	background-color: #585858;
	color: white;
}
#btmbar a {
	color: white;
}
#btmbar a:hover {
	color: white;
}

/* Content-Body Styling */
#content-body {
	/*margin: 20px 0 20px 0;*/
}
.content-header {
	margin: 20px 0 20px 0;
}

#contact-me {
	margin: 20px 0 20px 0;
}

#body-content #slider {
	width: 100%;
	background-color: #f2f2f2;
}

/* Page-Specific Styles */
/* Index */
#index-header {
	border-bottom: 2px solid black;
}


